.progress{
    height: 3vh;
}

.thisTitle {
    font-size: 600%;
    margin: 0px;
}

.thisSubTitle {
    font-size: 100%;
    margin-top: -4%;
}

.thisVerticalCenter {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.thisCenter {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -80%);
}

